button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Button hover effect */
  button:hover {
    background-color: #0056b3;
  }

  /* Button active effect */
  button:active {
    background-color: #003f7f;
  }

  /* Unsubscribe button specific styling */
  button:nth-of-type(2) {
    background-color: #DC3545;
  }

  /* Unsubscribe button hover effect */
  button:nth-of-type(2):hover {
    background-color: #a71d2a;
  }

  /* Unsubscribe button active effect */
  button:nth-of-type(2):active {
    background-color: #82121b;
  }

  /* Count heading styling */
  h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
  }

  /* Centering the container div */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Adjust based on the container's content or set a specific height */
    margin-top: 20px; /* Adjust as needed */
  }

  /* Styling the image */
  .container img {
    width: 75%;
    max-width: 100%; /* Ensures the image does not exceed the container's width */
    height: auto;
  }