<h1>{{title}}</h1>
<p>Cookies is a small piece of data sent from a website and stored on the user's machine by the user's browsers while the user is browsing</p>
<p>Cookies are small packages of information that are typically stored in your browsers and websites tend to use cookies for multiple things.</p>
<h3>How to install a cookie</h3>
<div style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
    <p style="color:blue">npm install ngx-cookie-service{{version}}   (As I am using angular 17 so 17.1.0)</p>
</div>
<h3>cookie methods are</h3>
<li><span style="font-weight:bold">check</span>: This method is used to check the cookie existing or not.</li>
<li><span style="font-weight:bold">get</span>: This method return the value of given cookie name</li>
<li><span style="font-weight:bold">getAll</span>: This method return a value object with all the cookie</li>
<li><span style="font-weight:bold">set</span>:This methd is used to set the cookies with a name </li>
<li><span style="font-weight:bold">delete</span>:This methd is used to delete the cookie with the given name</li>
<li><span style="font-weight:bold">deleteAll</span>:This methd is used to delete all the cookies </li>
<h1>Demo</h1>
<app-comp11></app-comp11>
<app-comp21></app-comp21>
<div class="div-img">
    <div class="image-container-3">
        <img src="\assets\ray-so-export (56).png" alt="">
    </div>
</div>


