.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 12px;
    transition: transform 0.3s;
}

.container:hover {
    transform: translateY(-5px);
}

img {
    max-width: 75%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}