:root {
    --primary-color: #4CAF50;
    --secondary-color: #ffffff;
    --border-radius: 8px;
    --transition-duration: 0.3s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e5e5;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    width: 300px;
    gap: 10px;
    padding: 20px;
    background-color: #dbc1c1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    outline: none;
    transition: border-color var(--transition-duration), box-shadow var(--transition-duration);
}

input[type="text"]:focus {
    border-color: #3e8e41;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    transform: scale(0.95);
}