<h1>{{title}}</h1>
<p>Operators inRxJS are functions that takes an observable as input and transform it into a new observable and return it. We use operators to manipulate the observable data stream.</p>
<p></p>
<h2>Map operator</h2>
<img src="\assets\ray-so-export (12).png">
<div class="console-container">
    <h3 class="console">Console</h3>
    <p>5   </p>
    <p>10  </p>
    <p>30  </p>
    <p>35 </p>
    <p>40 </p>
</div>
<p>Similarly we can use filter operator</p>
<h2>Filter Operator</h2>
<img src="\assets\ray-so-export (13).png">
<div class="console-container">
    <h3 class="console">Console</h3>
    <p>2   </p>
    <p>6  </p>
    <p>8  </p>
</div>
<h2>Combining operators</h2>
<img src="\assets\ray-so-export (15).png">
<div class="console-container">
    <h3 class="console">Console</h3>
    <p>10   </p>
    <p>30  </p>
    <p>40  </p>
</div>
<p>Learn more about RxJS operator <a href="https://rxjs.dev/guide/operators">Click</a></p>
