<h1>{{title}}</h1>
<div class="course-container">
    <div class="course-card">
        <h2>{{course.courseName}}</h2>
        <p class="author">Author: {{course.author}}</p>
        <p class="description">Description:{{course.description}}</p>
        <p class="details"><strong>Price:</strong> {{course.price}}</p>
        <p class="details"><strong>Duration:</strong> {{course.duration}}</p>
        <p class="details"><strong>Type:</strong> {{course.courseType}}</p>
        <button routerLink="/passing-parameters-to-route">Courses</button>
    </div>
</div>

