/* Style for the h2 element */
h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    background-color: #e597da;
}

/* General button styling */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Specific styles for the 'Get Data' button */
button:nth-of-type(1) {
    background-color: #4CAF50;
    color: white;
}

button:nth-of-type(1):hover {
    background-color: #45a049;
}

/* Specific styles for the 'Delete Data' button */
button:nth-of-type(2) {
    background-color: #f44336;
    color: white;
}

button:nth-of-type(2):hover {
    background-color: #da190b;
}
