<h1>{{title}}</h1>
<p> The native element property contains the reference to the underlying DOM object which gives us direct access to DOM, bypassing the angular</p>
<p>This is not advisable for the following reason</p>
<li>Angular keeps the component and the view in Sync using Templates, data binding and change detection, etc. All of them are bypassed when we update the DOM directly </li>
<li> DOM manipulation works only on browser. You will not able to use the App in the other platform like in a web worker, in server or in desktop or in the mobile app etc. Where there is no browser</li>
<li>DOM API do not sanitize the data. Hence it is possible to inject a script, thereby, opening our app an easy target for the XSS injection attack</li>
<p> We the help of render we can access the DOM ekement in a better way</p>
<p> Renderer allows us to manipulate the DOM without accessing it. </p>

<div setHighlight>
    <p >This is a Demo HTML content to understand custom attribute directive using renderer in Angular</p>
  </div>
  <div>
    <p> It is something like document.addClassList</p>
    <p> With renderer we can manipulate DOM objects</p>
    <p> This renderer 2 is a class allows us to manipulate DOM elements</p>
    <p>We have to access the renderer in the ngOnInit</p>
    <p> the element and the renderer are the parametr of the constructor we cannot acces it outside the constructor.They are local to the constructo</p>
    <p>To access it outside the constructor we have to add private key before element and renderer</p>
    <p>When we use private, behind the scene the angular create a property with that property name. Then this can be acces anywhere in the class</p>
    <p>this.renderer.setStyle(this.element.nativeElement, 'backgroundColor', '#36454F')</p>
    <p>this.renderer.addClass(this.element.nativeElement, 'rendererclass') Note: this class name must be present in the css file </p>
</div>
