
<nav>
  <div class="container" >
      <div class="box" routerLink=""  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Navigation</div>
      <div class="box" routerLink="/bootstrap"  routerLinkActive="active">Bootstrap</div> 
      <div class="box" routerLink="/event-binding"  routerLinkActive="active">Event Binding</div> 
      <div class="box" routerLink="/life-cycle-hook"  routerLinkActive="active">Life Cycle Hooks</div> 
      <div class="box" routerLink="/customAttributeDirective"  routerLinkActive="active">Custom Attribute Directive</div>  
      <div class="box" routerLink="/renderer"  routerLinkActive="active">Renderer</div>
      <div class="box" routerLink="/hostlistner"  routerLinkActive="active">Hostlistner</div>  
      <div class="box" routerLink="/hostbinding"  routerLinkActive="active">Hostbinding</div>   
      <div class="box" routerLink="/binding-directive-property"  routerLinkActive="active">Binding Property Directive</div> 
      <div class="box" routerLink="/custom-app-class-directive"  routerLinkActive="active">Custom AppClass Directive</div>
      <div class="box" routerLink="/conditional-directives"  routerLinkActive="active">Conditional Directive</div>  
      <div class="box" routerLink="/custom-app-directives"  routerLinkActive="active">Custom App Style Directive</div> 
      <div class="box" routerLink="/structural-directives"  routerLinkActive="active">Custom Structural Directive</div> 
      <div class="box" routerLink="/ng-switch-directives"  routerLinkActive="active">ngSwitch Directive</div> 
      <div class="box" routerLink="/services"  routerLinkActive="active">Services</div> 
      <div class="box" routerLink="/dependency-injection"  routerLinkActive="active">Dependency Injection</div> 
      <div class="box" routerLink="/hierarchical-injection"  routerLinkActive="active">Hierarchical Injection</div>
      <div class="box" routerLink="/creating-data-service"  routerLinkActive="active">Creating Data Service</div> 
      <div class="box" routerLink="/injecting-service-to-another-service"  routerLinkActive="active">Injecting Service To Another Service</div>
      <div class="box" routerLink="/component-interaction-with-services"  routerLinkActive="active">Component Interaction With Services</div> 
      <div class="box" routerLink="/observable"  routerLinkActive="active">Observable</div> 
      <div class="box" routerLink="/different-ways-of-creating-observable"  routerLinkActive="active">Different Ways Of Creating Observable</div>
      <div class="box" routerLink="/undestanding-operators-on-observable">Undestanding Operators On Observable</div>
      <div class="box" routerLink="/subject-in-rxjs"  routerLinkActive="active">Subject In RxJS</div>
      <div class="box" routerLink="/unsubscribe-to-an-observable">Unsubscribe To An Observable</div>
      <div class="box" routerLink="/routing-in-angular" routerLinkActive="active">Routing In Angular</div>
      <div class="box" routerLink="/implement-page-not-found-routes" routerLinkActive="active">Implement Page Not Found Routes</div>
      <div class="box" routerLink="/configuring-navigation-link-for-route" routerLinkActive="active">Configuring Navigation Link For Route</div>
      <div class="box" routerLink="/passing-parameters-to-route" routerLinkActive="active">Passing Parameters To Route</div>
      <div class="box" routerLink="/passing-query-parameter-to-routes" routerLinkActive="active">Passing Query Parameters To Route</div>
      <div class="box" routerLink="/passing-fragments-to-route" routerLinkActive="active">Passing Fragments To Route</div>
      <div class="box" routerLink="/creating-a-router-module-file" routerLinkActive="active">Creating A Router Module File</div>
      <div class="box" routerLink="/router-guard" routerLinkActive="active">Router Guard</div>
      <div class="box" routerLink="/navigation-event" routerLinkActive="active">Navigation Events</div>
      <div class="box" routerLink="/session-management" routerLinkActive="active">Session Management</div>
      <div class="box" routerLink="/cookies" routerLinkActive="active">Cookies</div>
      <div class="box" routerLink="/pipes" routerLinkActive="active">Pipes</div>
      <div class="box" routerLink="/custom-pipes" routerLinkActive="active">Custom Pipes</div>
      <div class="box" routerLink="/template-driven-form" routerLinkActive="active">Template Driven Form</div>
      <div class="box" routerLink="/setValue-And-patchValue" routerLinkActive="active">SetValue and PatchValue</div>
      <div class="box" routerLink="/resetting-template-driven-form" routerLinkActive="active">Resetting Template Driven Form And Retriving FormData</div>
      <div class="box" routerLink="/reactive-forms" routerLinkActive="active">Reactive Forms</div>
      <div class="box" routerLink="/setValue-And-patchValue-reactive-form" routerLinkActive="active">SetValue() and PathValue() Reactive Forms</div>
      <div class="box" routerLink="/retriving-reactive-form-data-and-resetting-reactive-form" routerLinkActive="active">Resetting Reactive Form And Retriving Reactive Form Data</div>
      <div class="box" routerLink="/introduction-to-http-request" routerLinkActive="active">Introduction to HTTP requests in Angular</div>
    </div>
</nav>
<main>
  <div class="main-content"><router-outlet></router-outlet></div>
</main>

