
.item3 {
    background-color: rgb(89, 162, 227);
    width: 100%;
    height:960px;
    font-size: 50px;
    text-align: center;
    margin-top: -50px;
}
.item3 img {
    height: 60%;
    width: 60%;
    margin-top: 5%;
}
